.wrap
{
    position: absolute;
    top: 15%;
    left: 30%;
}

.btn
{
    position: relative;
    top: 200px;
    float: left;
    background-color: transparent;
    font-size: 50px;
    font-weight: bold;
    color: gray;
    outline:0; /* 클릭시에도 테두리 없앰 */
    border:0; /* 클릭시에도 테두리 없앰 */
}

.btn:hover
{
    color: black;
}

.slide_area
{
    margin: 0px 20px;
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    z-index: 999;
}